@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    string linkToMicrosoftGuide = "https://docs.microsoft.com/en-us/visualstudio/javascript/tutorial-aspnet-with-typescript?view=vs-2019";
    string linkTo_AddjQueryToMVC_Framework = "https://www.c-sharpcorner.com/article/typescript-with-jquery/";
}

<h1 class="text-center w-100">Using a Typescript files in MVC</h1>

<section class="d-block w-90">
    <span>To use Typescipt in ASP.NET MVC, you need to: </span>
    <code>Install the 'Microsoft.Typescript.MSBuild' <b>Nuget Package</b></code>
</section>
<section class="d-block w-50 m-auto">
    <h2>Useful sources to learn from</h2>
    <ul class="list-group">
        <li class="list-group-item">
            <a href="@linkToMicrosoftGuide">Guide from Microsoft on how to use Typescipt in ASP.NET MVC <b><u>Core</u></b></a>
        </li>
        <li class="list-group-item">
            <a href="@linkTo_AddjQueryToMVC_Framework">Add jQuery To ASP.NET MVC <b><u>(.NET Framework)</u></b></a>
        </li>
    </ul>
</section>

@section Scripts{
    <script src="~/ts/HelloWorld.js" asp-append-version="true"></script>
}

