<header class="d-block w-100 mt-5 mt mb-5">
  <h1 class="text-center mb-4 text-danger">Intruder Alert!</h1>
  <h2 class="text-center">You are NOT AUTHORIZED!</h2>
</header>

<hr class="m-auto w-90 border border-secondary" />

<main class="d-flex flex-wrap w-100 mt-5 justify-content-center">
  <h3 class="w-100 text-center">Going somewhere ?</h3>
  <img src="https://cdn.myminifactory.com/assets/object-assets/5b53f7763529b/images/ed209-1.jpg"
       alt="robot With guns image"
       height="600"/>
</main>

