<h2 class="text-center w-100 mb-5">{{ title }}</h2>


<section class="m-auto w-70 d-flex flex-wrap justify-content-center">
  <h3 class="w-100">Description</h3>
<pre class="w-100">
This is another simple tool to use.
If you have an event you can't usually bind with a simple directive (e.g. Window events)
You can use this tool to fire a function.
</pre>
</section>

<section class="m-auto w-70 d-flex flex-wrap justify-content-center">
  <span class="w-80">Number of times you press any key {{ keyPressCounter }}</span>
  <span class="w-80">Number of times you "pressed" the scroll wheel {{ scrollCounter }}</span>
</section>

