@model HowToUseModel
@*
    =======================================================================================================
    ============================================== TagHelper ==============================================
    =======================================================================================================
    This section will cover on how to use the tagHelper.
    It will show an extensive example list of how to create an element with MVC Core's new way to set html element
    It's doesn't stray away from how you traditionally create Html elemnts, unlike with HtmlHelpers.
    This is not available in the classic ASP.NET MVC Framework thou
*@

@{
    ViewData["Title"] = "How to use TagHelper";
}

<h1 class="m-4 text-center">How to use TagHelpers</h1>

<ul class="w-100">
    <li class="w-100">
        <h2>Regular element</h2>

    </li>
</ul>

