@model HowToUseModel
@*
    ========================================================================================================
    ============================================== HtmlHelper ==============================================
    ========================================================================================================
    This section will cover on how to use the HtmlHelper's functions.
    It will show an extensive example list of how to create an element with MVC's classic way to add elements
    In other words, this can also be achived in ASP.NET MVC 4 (Framework)
*@

@{
    ViewData["Title"] = "How to use HtmlHelper";
}

<h1 class="m-4 text-center">How to use HtmlHelper</h1>

<ul class="w-100">
    <li class="w-100">
        <h2>Regular element</h2>

    </li>
</ul>
