<main class="p-3 d-block w-100">
  <h1 class="text-center">Model-Driven Form, AKA Reactive Form</h1>
  <div class="mt-3 border p-4 d-block">
    <div class="form-group w-70">
      <label>First Name:</label>
      <input type="text" class="form-control" [formControl]="firstName">
      <!-- Using Built In Validators -->
      <p [class.d-none]="! firstName.errors?.required" [ngClass]="{ 'text-danger d-block' : firstName.errors?.required}">Value Required</p>
      <p [class.d-none]="! firstName.errors?.minlength" [ngClass]="{ 'text-danger d-block' : firstName.errors?.minlength}">
        Buddy, no one has a 'latter' as his name, Unless you're Japanese or something
      </p>
      <!-- Using Custom Validator -->
      <p [class.d-none]="! firstName.errors?.NoBob" [ngClass]="{ 'text-danger d-block' : firstName.errors?.NoBob}">
        Lame name..... Bob... Really ?!??
      </p>
    </div>
    <div class="form-group w-70">
      <label>Last Name:</label>
      <input type="text" class="form-control" [formControl]="lastName">
      <!-- Using Built In Validators -->
      <p [class.d-none]="! lastName.errors?.required" [ngClass]="{ 'text-danger d-block' : lastName.errors?.required}">Value Required</p>
      <p [class.d-none]="! lastName.errors?.minlength" [ngClass]="{ 'text-danger d-block' : lastName.errors?.minlength}">
        Buddy, no one has a 'latter' as his name, Unless you're Japanese or something
      </p>
      <!-- Using Custom Validator (Inline) -->
      <p [class.d-none]="! lastName.errors?.NoBob" [ngClass]="{ 'text-danger d-block' : lastName.errors?.NoBob}">
        Lame name..... Bob... Really ?!??
      </p>
    </div>
    <h4>Full Name (Using the <code>Value</code> property):</h4>
    <p><b>{{ FullName }}</b></p>
    <h4>Full Name (Using <code>Observable</code> property <code>valueChanges</code>):</h4>
    <p>Note! you won't see the values until any changed were done to the initial value in inputs.</p>
    <p>Once you change, valueChanges will be activated and display the values</p>
    <p><b>{{ firstName.valueChanges | async }} {{ lastName.valueChanges | async }}</b></p>

    <hr />
  </div>
</main>

