<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" [routerLink]="['/Home']">{{title}}</a>
  <!-- Links -->
  <ul class="navbar-nav">
    <!-- "How to use" Dropdown -->
    <li class="nav-item"><a class="nav-link" [routerLink]="['/HowTo']">How to Use</a></li>
    <!-- Guards related -->
    <li class="nav-item dropdown" [class.show]="GuardsDropdown">
      <a class="nav-link dropdown-toggle" (click)="GuardsDropdown = !GuardsDropdown">
        Guards
      </a>
      <div class="dropdown-menu" [class.show]="GuardsDropdown">
        <a class="dropdown-item" (click)="GuardsDropdown = false"
           [routerLink]="['AuthPage']" [queryParams]="{auth: 'true'}">Authorized Page</a>
        <a class="dropdown-item" (click)="GuardsDropdown = false" [routerLink]="['NotAuth']">Un-Authorized Page</a>
      </div>
    </li>
    <!-- Utilities -->
    <li class="nav-item dropdown" [class.show]="UtilityCompsDropdown">
      <a class="nav-link dropdown-toggle" (click)="UtilityCompsDropdown = !UtilityCompsDropdown">
        Utilites
      </a>
      <div class="dropdown-menu" [class.show]="UtilityCompsDropdown">
        <a class="dropdown-item" (click)="clickShowNativePopup()">Native popup model</a>
        <a class="dropdown-item" (click)="UtilityCompsDropdown = false">Bootsrap based popup model</a>
        <a class="dropdown-item" (click)="UtilityCompsDropdown = false" [routerLink]="['/InputFileButton']">Input File Button</a>
      </div>
    </li>
    <!-- How to use Forms -->
    <li class="nav-item dropdown" [class.show]="AngularFormsDropdown">
      <a class="nav-link dropdown-toggle" (click)="AngularFormsDropdown = !AngularFormsDropdown">
        NgForms
      </a>
      <div class="dropdown-menu" [class.show]="AngularFormsDropdown">
        <a class="dropdown-item" (click)="AngularFormsDropdown = false" [routerLink]="['ReactiveForm']">Reactive Form</a>
        <a class="dropdown-item" (click)="AngularFormsDropdown = false" [routerLink]="['TemplateDrivenForm']">Template-Driven Form</a>
      </div>
    </li>
  </ul>
</nav>
<!-- Native popup model -->
<app-popup-window [(show)]="showNativePopup" [width]="80" [height]="80">
  <div class="p-3">
    <h1 class="text-center">You "navigated" to the popup "page"...</h1>
    <p class="text-center">Well, it's not acutall a page, but you know</p>
  </div>
</app-popup-window>
<!-- Bootstrap's popup model Todo -->
